<a href="https://colab.research.google.com/github/drshahizan/BDM/blob/main/lab/submission/Ayam%20Rendang/lab1/lab1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1a - Understanding Your Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.



### Step 1. Import the necessary libraries

In [ ]:
import pandas

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv).

In [ ]:
path = "https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pandas.read_csv(path,sep="\t")

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
chipo.count

<bound method DataFrame.count of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

In [ ]:
# Solution 2

chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [ ]:
print(chipo.columns.values)

['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

### Step 8. How is the dataset indexed?

In [ ]:
index_range = chipo.index
print("Index Range:", index_range)

Index Range: RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
# Group the dataframe by item_name and sum the quantity for each item
item_counts = chipo.groupby('item_name')['quantity'].sum()

# Find the item with the highest total quantity
most_ordered_item = item_counts.idxmax()
total_quantity = item_counts.max()

# Print the most-ordered item and its total quantity
print(f"The most-ordered item is '{most_ordered_item}' with a total quantity of {total_quantity}.")

The most-ordered item is 'Chicken Bowl' with a total quantity of 761.

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
print(total_quantity)

761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
# Group the dataframe by choice_description and sum the quantity for each choice_description
choice_counts = chipo.groupby('choice_description')['quantity'].sum()

# Find the choice_description with the highest total quantity
most_ordered_choice = choice_counts.idxmax()
total_quantity = choice_counts.max()

# Print the most-ordered choice_description and its total quantity
print(f"The most-ordered choice_description is '{most_ordered_choice}' with a total quantity of {total_quantity}.")

The most-ordered choice_description is '[Diet Coke]' with a total quantity of 159.

### Step 12. How many items were orderd in total?

In [ ]:
# Calculate the total number of items ordered by summing the 'quantity' column
total_items_ordered = chipo['quantity'].sum()

# Print the total number of items ordered
print(f"Total number of items ordered: {total_items_ordered}")

Total number of items ordered: 4972

### Step 13. Turn the item price into a float

In [ ]:
# Remove the dollar sign ($) from the 'item_price' column and convert it to a float
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

# Now, the 'item_price' column contains float values

# Print the first few rows of the dataset to verify the changes
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

<ipython-input-15-90fa238b1781>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

#### Step 13.a. Check the item price type

In [ ]:
# Check the data type of the 'item_price' column
item_price_type = chipo['item_price'].dtype

# Print the data type of the 'item_price' column
print(f"Data type of 'item_price' column: {item_price_type}")

Data type of 'item_price' column: float64

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
# Convert 'item_price' to another data type (e.g., int) and then back to float
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(int(x)))

# Now, the 'item_price' column contains float values

# Print the first few rows of the dataset to verify the changes
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN         2.0
1                                       [Clementine]         3.0
2                                            [Apple]         3.0
3                                                NaN         2.0
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...        16.0

#### Step 13.c. Check the item price type

In [ ]:
# Check the data type of the 'item_price' column
item_price_type = chipo['item_price'].dtype

# Print the data type of the 'item_price' column
print(f"Data type of 'item_price' column: {item_price_type}")

Data type of 'item_price' column: float64

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
#due toconverting type of item price its truevalue is altered so deriving it again from source
chipo = pandas.read_csv(path,sep="\t")
# Remove the dollar sign ($) from the 'item_price' column and convert it to a float
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
total_revenue = chipo['revenue'].sum()

# Print the total revenue
print(f"The total revenue for the period is ${total_revenue:.2f}")

The total revenue for the period is $39237.02

<ipython-input-21-a285f8c129fc>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

### Step 15. How many orders were made in the period?

In [ ]:
# Count the unique order IDs to find the number of orders made
total_orders = chipo['order_id'].nunique()

# Print the total number of orders
print(f"The total number of orders made in the period is {total_orders}.")

The total number of orders made in the period is 1834.

### Step 16. What is the average revenue amount per order?

In [ ]:

# Group the dataframe by 'order_id' and calculate the mean revenue for each order
average_revenue_per_order = chipo.groupby('order_id')['revenue'].sum().mean()

# Print the average revenue amount per order
print(f"The average revenue amount per order is ${average_revenue_per_order:.2f}")

The average revenue amount per order is $21.39

### Step 17. How many different items are sold?

In [ ]:
# Count the number of unique item names
unique_items_sold = chipo['item_name'].nunique()

# Print the number of different items sold
print(f"The number of different items sold is {unique_items_sold}.")

The number of different items sold is 50.