<a href="https://colab.research.google.com/github/drshahizan/BDM/blob/main/lab/submission/Truth_Archieve/lab1/lab1d_by_shahirah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1d - Filtering and Sorting Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv', sep='\t', index_col='order_id')

### Step 4. How many products cost more than $10.00?

In [3]:
price_type= chipo['item_price'].dtype
print("itemdatatype is: ", price_type)

itemdatatype is:  object

In [4]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace(' ','').replace('$','')))

In [5]:
price_type= chipo['item_price'].dtype
print("itemdatatype is: ", price_type)

itemdatatype is:  float64

In [14]:
morethan10=chipo[chipo['item_price']>10.00]
products_morethan10=morethan10.shape[0]
print("Products cost more than $10.00 : ", products_morethan10)

Products cost more than $10.00 :  1130

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [12]:
name_price=chipo.groupby('item_name')['item_price'].unique()
print(name_price)

item_name
6 Pack Soft Drink                                                            [6.49, 12.98]
Barbacoa Bowl                                      [11.75, 9.25, 8.99, 11.48, 8.69, 11.49]
Barbacoa Burrito                                   [8.99, 9.25, 11.75, 11.08, 8.69, 11.48]
Barbacoa Crispy Tacos                                     [11.75, 9.25, 11.48, 8.99, 18.5]
Barbacoa Salad Bowl                                                          [11.89, 9.39]
Barbacoa Soft Tacos                                             [9.25, 8.99, 11.75, 11.48]
Bottled Water                            [1.09, 1.5, 3.0, 3.27, 2.18, 6.0, 7.5, 4.5, 10...
Bowl                                                                           [22.2, 7.4]
Burrito                                                                              [7.4]
Canned Soda                                                             [2.18, 1.09, 4.36]
Canned Soft Drink                                                   [1.25, 2.5, 3.75, 5.0]
Carnitas Bowl                               [8.99, 11.75, 9.25, 11.48, 23.5, 11.08, 35.25]
Carnitas Burrito                             [8.99, 9.25, 11.75, 11.48, 18.5, 11.08, 8.69]
Carnitas Crispy Tacos                                           [9.25, 11.75, 8.99, 17.98]
Carnitas Salad                                                                      [8.99]
Carnitas Salad Bowl                                                          [11.89, 9.39]
Carnitas Soft Tacos                                                    [9.25, 8.99, 11.75]
Chicken Bowl                             [16.98, 10.98, 11.25, 8.75, 8.49, 17.5, 32.94,...
Chicken Burrito                          [8.49, 10.98, 8.75, 17.5, 11.25, 10.58, 8.19, ...
Chicken Crispy Tacos                               [8.75, 17.5, 11.25, 8.49, 10.98, 16.98]
Chicken Salad                                                          [10.98, 8.49, 8.19]
Chicken Salad Bowl                                               [8.75, 22.5, 17.5, 11.25]
Chicken Soft Tacos                          [8.75, 11.25, 8.49, 17.5, 10.98, 16.98, 21.96]
Chips                                                              [2.15, 4.3, 6.45, 1.99]
Chips and Fresh Tomato Salsa                          [2.39, 2.95, 2.29, 11.8, 5.9, 44.25]
Chips and Guacamole                      [4.45, 3.99, 4.0, 8.9, 3.89, 13.35, 7.98, 8.5,...
Chips and Mild Fresh Tomato Salsa                                                    [3.0]
Chips and Roasted Chili Corn Salsa                                             [2.95, 5.9]
Chips and Roasted Chili-Corn Salsa                                                  [2.39]
Chips and Tomatillo Green Chili Salsa                                          [2.95, 5.9]
Chips and Tomatillo Red Chili Salsa                                            [2.95, 5.9]
Chips and Tomatillo-Green Chili Salsa                                         [2.39, 4.78]
Chips and Tomatillo-Red Chili Salsa                                     [2.39, 4.78, 7.17]
Crispy Tacos                                                                         [7.4]
Izze                                                                                [3.39]
Nantucket Nectar                                                              [3.39, 6.78]
Salad                                                                                [7.4]
Side of Chips                                                          [1.69, 5.07, 13.52]
Steak Bowl                               [8.99, 11.75, 11.48, 9.25, 11.08, 17.98, 8.69,...
Steak Burrito                            [11.75, 9.25, 8.99, 11.48, 17.98, 11.08, 22.16...
Steak Crispy Tacos                                        [9.25, 8.99, 8.69, 11.75, 17.98]
Steak Salad                                                                   [8.99, 8.69]
Steak Salad Bowl                                                      [23.78, 11.89, 9.39]
Steak Soft Tacos                                          [9.25, 8.99, 11.75, 11.48, 18.5]
Veggie Bowl                                              [11.25, 8.49, 8.75, 16.98, 10.98]
Veggie Burrito                                           [11.25, 8.49, 10.98, 8.75, 33.75]
Veggie Crispy Tacos                                                                 [8.49]
Veggie Salad                                                                        [8.49]
Veggie Salad Bowl                                                            [11.25, 8.75]
Veggie Soft Tacos                                               [11.25, 8.75, 8.49, 16.98]
Name: item_price, dtype: object

### Step 6. Sort by the name of the item

In [13]:
sortname=chipo.sort_values(by='item_price')
print(sortname)

          quantity                     item_name  \
order_id
471              1                 Bottled Water
338              1                   Canned Soda
1575             1                   Canned Soda
47               1                   Canned Soda
1014             1                   Canned Soda
...            ...                           ...
1443             3                Veggie Burrito
1443             4               Chicken Burrito
511              4               Chicken Burrito
1398             3                 Carnitas Bowl
1443            15  Chips and Fresh Tomato Salsa

                                         choice_description  item_price
order_id
471                                                     NaN        1.09
338                                             [Coca Cola]        1.09
1575                                           [Dr. Pepper]        1.09
47                                             [Dr. Pepper]        1.09
1014                                            [Coca Cola]        1.09
...                                                     ...         ...
1443      [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       33.75
1443      [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       35.00
511       [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       35.00
1398      [Roasted Chili Corn Salsa, [Fajita Vegetables,...       35.25
1443                                                    NaN       44.25

[4622 rows x 4 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [15]:
most_expensive= chipo[chipo['item_price']==chipo['item_price'].max()]
quantity = most_expensive['quantity'].values[0]
print(" Quantity of the most expensive item ordered : ",quantity)

 Quantity of the most expensive item ordered :  15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [16]:
veggie_ordered=chipo[chipo['item_name'] == 'Veggie Salad Bowl']
numbowls=veggie_ordered.shape[0]
print(" Veggie Salad Bowl was ordered : ",numbowls, "times")

 Veggie Salad Bowl was ordered :  18 times

### Step 9. How many times did someone order more than one Canned Soda?

In [17]:
cannedsoda = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] >1)]
numsoda = cannedsoda.shape[0]
print("Someone order more than one Canned Soda : ",numsoda, "times")

Someone order more than one Canned Soda :  20 times