<a href="https://colab.research.google.com/github/drshahizan/BDM/blob/main/lab/submission/TheBoys/Lab1/ans_lab1b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1b - Understanding Your Data

Please use the [**Occupation**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/u.user) dataset for this exercise.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/u.user", sep="|")

### Step 2. Import the dataset from [**Occupation**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/u.user).

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [ ]:
users = df.set_index("user_id")

### Step 4. See the first 25 entries

In [ ]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. See the last 10 entries

In [ ]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [ ]:
len(users.index)

943

### Step 7. What is the number of columns in the dataset?

In [ ]:
len(users.columns)

4

### Step 8. Print the name of all the columns.

In [ ]:
print(users.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9. How is the dataset indexed?

In [ ]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [ ]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [ ]:
users["occupation"]

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations are in this dataset?

In [ ]:
len(users["occupation"].value_counts())
users["occupation"].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

### Step 13. What is the most frequent occupation?

In [ ]:
users["occupation"].mode()

0    student
Name: occupation, dtype: object

### Step 14. Summarize the DataFrame.

In [ ]:
print(users.info())
print(users.groupby("occupation").describe())
print(users.groupby("gender")["occupation"].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB
None
                 age
               count       mean        std   min    25%   50%    75%   max
occupation
administrator   79.0  38.746835  11.123397  21.0  30.00  37.0  48.00  70.0
artist          28.0  31.392857   8.668116  19.0  25.00  30.0  39.00  48.0
doctor           7.0  43.571429  12.501428  28.0  35.50  45.0  48.50  64.0
educator        95.0  42.010526  10.413264  23.0  33.00  42.0  50.00  63.0
engineer        67.0  36.388060  11.199236  22.0  28.00  36.0  43.00  70.0
entertainment   18.0  29.222222  10.056052  15.0  23.00  25.0  33.00  50.0
executive       32.0  38.718750  10.608075  22.0  31.00  38.5  46.00  69.0
healthcare      16.0  41.562500  11.313524  22.0  30.50  44.5  49.25  62.0
homemaker        7.0  32.571429  10.737119  20.0  24.50  32.0  38.50  50.0
lawyer          12.0  36.750000  10.830303  21.0  28.75  34.0  47.75  53.0
librarian       51.0  40.000000  11.023611  23.0  30.00  39.0  49.00  69.0
marketing       26.0  37.615385   9.474500  24.0  30.25  36.0  42.50  55.0
none             9.0  26.555556  13.757826  11.0  16.00  26.0  33.00  55.0
other          105.0  34.523810  10.738227  13.0  26.00  32.0  44.00  64.0
programmer      66.0  33.121212   9.624512  20.0  27.00  30.0  38.00  63.0
retired         14.0  63.071429   5.757461  51.0  60.00  63.0  67.25  73.0
salesman        12.0  35.666667  14.079859  18.0  28.25  34.0  38.25  66.0
scientist       31.0  35.548387   7.392964  23.0  30.00  37.0  40.00  55.0
student        196.0  22.081633   5.284081   7.0  19.00  21.0  25.00  42.0
technician      27.0  33.148148   9.867210  21.0  24.00  30.0  40.00  55.0
writer          45.0  36.311111  11.423306  18.0  26.00  36.0  48.00  60.0
gender  occupation
F       student           60
        administrator     36
        other             36
        librarian         29
        educator          26
        writer            19
        artist            13
        healthcare        11
        marketing         10
        homemaker          6
        programmer         6
        none               4
        executive          3
        salesman           3
        scientist          3
        engineer           2
        entertainment      2
        lawyer             2
        retired            1
        technician         1
M       student          136
        educator          69
        other             69
        engineer          65
        programmer        60
        administrator     43
        executive         29
        scientist         28
        technician        26
        writer            26
        librarian         22
        entertainment     16
        marketing         16
        artist            15
        retired           13
        lawyer            10
        salesman           9
        doctor             7
        healthcare         5
        none               5
        homemaker          1
Name: occupation, dtype: int64

### Step 15. Summarize all the columns

In [ ]:
users.value_counts()

age  gender  occupation  zip_code
28   M       student     55414       2
44   F       other       60630       2
17   M       student     60402       2
51   M       educator    20003       2
21   F       student     55414       2
                                    ..
27   M       lawyer      47130       1
             marketing   11217       1
                         19382       1
             other       30350       1
73   M       retired     37771       1
Length: 936, dtype: int64

### Step 16. Summarize only the occupation column

In [ ]:
users["occupation"].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of users?

In [ ]:
users.age.mean()

34.05196182396607

### Step 18. What is the age with least occurrence?

In [ ]:
for x in users["age"].value_counts().index:
  if users["age"].value_counts().loc[x] == min(users["age"].value_counts()):
    print(x)

7
66
11
10
73