<a href="https://colab.research.google.com/github/drshahizan/BDM/blob/main/lab/submission/RAM/lab1d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1d - Filtering and Sorting Data

##Dataset : [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv)
## Group Name: RAM
## Group Members
| Name                                     | Matrix Number |
| :---------------------------------------- | :-------------: |
| Mohammed Raza              |MCS231004      |
| Ayaz Rahman Bhuiyan         |MCS231023      |
| Musab Ibne Ahmad              |MCS231017      |
| Hussein Yusuf Sheikh Mohamed   | MCS231024       |

### Step 1. Import the necessary libraries

In [ ]:
import pandas

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
path = "https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pandas.read_csv(path,sep="\t")

### Step 4. How many products cost more than $10.00?

In [ ]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
expensive_products = chipo[chipo['item_price'] > 10.00]
count_expensive_products = len(expensive_products)
print(f'The number of products that cost more than $10.00 is: {count_expensive_products}')

The number of products that cost more than $10.00 is: 1130

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [ ]:
selected_columns = chipo[['item_name', 'item_price']]
print(selected_columns)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [ ]:
chipo = chipo.sort_values(by='item_name')
print(chipo)

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description  item_price
3389                                        [Diet Coke]       12.98
341                                         [Diet Coke]        6.49
1849                                             [Coke]        6.49
1860                                        [Diet Coke]        6.49
2713                                             [Coke]        6.49
...                                                 ...         ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
chipo['total_price'] = chipo['quantity'] * chipo['item_price']
most_expensive_item = chipo.loc[chipo['total_price'].idxmax()]
quantity_of_most_expensive_item = most_expensive_item['quantity']
print(f'The quantity of the most expensive item ordered is: {quantity_of_most_expensive_item}')

The quantity of the most expensive item ordered is: 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
veggie_salad_bowl_orders = chipo[chipo['item_name'] == "Veggie Salad Bowl"]
count_veggie_salad_bowl = len(veggie_salad_bowl_orders)
print(f'The number of times "Veggie Salad Bowl" was ordered is: {count_veggie_salad_bowl}')

The number of times "Veggie Salad Bowl" was ordered is: 18

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
canned_soda_orders = chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)]
count_multiple_canned_soda = len(canned_soda_orders)
print(f'The number of times someone ordered more than one "Canned Soda" is: {count_multiple_canned_soda}')

The number of times someone ordered more than one "Canned Soda" is: 20