<a href="https://colab.research.google.com/github/drshahizan/BDM/blob/main/lab/submission/F4/lab1/F4_ans_lab1d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab 1d - Filtering and Sorting Data
Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.

###Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

###Step 2. Import the dataset from this address.

In [35]:
df = pd.read_csv('https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv', sep='\t')

# Convert item_price to float
df['item_price'] = df['item_price'].str.replace('$', '',regex=False).astype(float)

df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

###Step 3. Assign it to a variable called chipo.

In [ ]:
chipo=df

###Step 4. How many products cost more than $10.00?

In [19]:
# Count of products that cost more than $10.00

count = 0
for price in chipo.item_price:
    if price > 10.00:
        count += 1
# Print the count of products that cost more than $10.00
print(f'Total products costing more than $10.00 : {count}')

Total products costing more than $10.00 : 1130

###Step 5. What is the price of each item?
print a data frame with only two columns item_name and item_price

In [33]:
print(chipo.groupby(by ="item_name")[["item_price"]].min().reset_index())

                                item_name  item_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl        8.69
2                        Barbacoa Burrito        8.69
3                   Barbacoa Crispy Tacos        8.99
4                     Barbacoa Salad Bowl        9.39
5                     Barbacoa Soft Tacos        8.99
6                           Bottled Water        1.09
7                                    Bowl        7.40
8                                 Burrito        7.40
9                             Canned Soda        1.09
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.69
13                  Carnitas Crispy Tacos        8.99
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl        9.39
16                    Carnitas Soft Tacos        8.99
17                           Chicken Bowl        8.19
18                        Chicken Burrito        8.19
19                   Chicken Crispy Tacos        8.49
20                          Chicken Salad        8.19
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.49
23                                  Chips        1.99
24           Chips and Fresh Tomato Salsa        2.29
25                    Chips and Guacamole        3.89
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.69
39                          Steak Burrito        8.69
40                     Steak Crispy Tacos        8.69
41                            Steak Salad        8.69
42                       Steak Salad Bowl        9.39
43                       Steak Soft Tacos        8.99
44                            Veggie Bowl        8.49
45                         Veggie Burrito        8.49
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl        8.75
49                      Veggie Soft Tacos        8.49

###Step 6. Sort by the name of the item

In [37]:
print((chipo.sort_values(by='item_name', ascending=True))[['item_name','item_price']])

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

###Step 7. What was the quantity of the most expensive item ordered?

In [34]:
max_price = chipo['item_price'].max()
most_expensive_items = chipo[chipo['item_price'] == max_price]
quantity_most_expensive = most_expensive_items['quantity'].sum()
print(f'The quantity of the most expensive item ordered is: {quantity_most_expensive}')

The quantity of the most expensive item ordered is: 15

###Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
orderVSB=len(chipo[(chipo["item_name"]=="Veggie Salad Bowl")])
print("The total number Veggie Salad Bowl was order is : ", orderVSB)

The total number Veggie Salad Bowl was order is :  18

###Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
orderCS=len(chipo[(chipo["item_name"]=="Canned Soda") &
         (chipo["quantity"]>1)])

print("The total number someone order more than one Canned Soda is : ", orderCS)

The total number someone order more than one Canned Soda is :  20