# Lab 1a - Understanding Your Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.



### Step 1. Import the necessary libraries

In [129]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [130]:
chipo=pd.read_table('https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [131]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [132]:
# Solution 1
num_observations = len(chipo)
print(num_observations)

4622

In [133]:
# Solution 2
# "RangeIndex: 4622 entries" means the dataset has 4622 observations.
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [134]:
# Solution 1
# Refer to step 5 solution 2, the dataset has 5 columns.

In [135]:
# Solution 2
num_columns = len(chipo.columns)
print(num_columns)

5

### Step 7. Print the name of all the columns.

In [136]:
for column_name in chipo.columns:
    print(column_name)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [137]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [138]:
# Group the data by 'item_name' and sum the 'quantity' for each item, then rename the column to 'sum of quantity'
Sum_Of_Quantity = chipo.groupby('item_name')['quantity'].sum().reset_index()
Sum_Of_Quantity = Sum_Of_Quantity.rename(columns={'quantity': 'sum_of_quantity'})
print(Sum_Of_Quantity)

                                item_name  sum_of_quantity
0                       6 Pack Soft Drink               55
1                           Barbacoa Bowl               66
2                        Barbacoa Burrito               91
3                   Barbacoa Crispy Tacos               12
4                     Barbacoa Salad Bowl               10
5                     Barbacoa Soft Tacos               25
6                           Bottled Water              211
7                                    Bowl                4
8                                 Burrito                6
9                             Canned Soda              126
10                      Canned Soft Drink              351
11                          Carnitas Bowl               71
12                       Carnitas Burrito               60
13                  Carnitas Crispy Tacos                8
14                         Carnitas Salad                1
15                    Carnitas Salad Bowl                6
16                    Carnitas Soft Tacos               40
17                           Chicken Bowl              761
18                        Chicken Burrito              591
19                   Chicken Crispy Tacos               50
20                          Chicken Salad                9
21                     Chicken Salad Bowl              123
22                     Chicken Soft Tacos              120
23                                  Chips              230
24           Chips and Fresh Tomato Salsa              130
25                    Chips and Guacamole              506
26      Chips and Mild Fresh Tomato Salsa                1
27     Chips and Roasted Chili Corn Salsa               23
28     Chips and Roasted Chili-Corn Salsa               18
29  Chips and Tomatillo Green Chili Salsa               45
30    Chips and Tomatillo Red Chili Salsa               50
31  Chips and Tomatillo-Green Chili Salsa               33
32    Chips and Tomatillo-Red Chili Salsa               25
33                           Crispy Tacos                2
34                                   Izze               20
35                       Nantucket Nectar               29
36                                  Salad                2
37                          Side of Chips              110
38                             Steak Bowl              221
39                          Steak Burrito              386
40                     Steak Crispy Tacos               36
41                            Steak Salad                4
42                       Steak Salad Bowl               31
43                       Steak Soft Tacos               56
44                            Veggie Bowl               87
45                         Veggie Burrito               97
46                    Veggie Crispy Tacos                1
47                           Veggie Salad                6
48                      Veggie Salad Bowl               18
49                      Veggie Soft Tacos                8

In [139]:
# Find the most-ordered item
most_ordered_item = Sum_Of_Quantity.loc[Sum_Of_Quantity['sum_of_quantity'].idxmax()]
print(most_ordered_item)

item_name          Chicken Bowl
sum_of_quantity             761
Name: 17, dtype: object

In [140]:
# Display the result
print(f"The most-ordered item is {most_ordered_item['item_name']}.")

The most-ordered item is Chicken Bowl.

### Step 10. For the most-ordered item, how many items were ordered?

In [141]:
print(f"{most_ordered_item['sum_of_quantity']} {most_ordered_item['item_name']}s were ordered.")

761 Chicken Bowls were ordered.

### Step 11. What was the most ordered item in the choice_description column?

In [142]:
sum_qty_choice_desc = chipo.groupby('choice_description')['quantity'].sum().reset_index()
most_ordered_choice_desc = sum_qty_choice_desc.loc[sum_qty_choice_desc['quantity'].idxmax()]
print(most_ordered_choice_desc['choice_description'].strip('[]'))

Diet Coke

### Step 12. How many items were ordered in total?

In [143]:
print(f"{most_ordered_choice_desc['quantity']} {most_ordered_choice_desc['choice_description'].strip('[]')} were ordered.")

159 Diet Coke were ordered.

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [144]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [145]:
chipo['item_price'] = chipo['item_price'].apply(lambda price: float(price.replace("$", "")))

#### Step 13.c. Check the item price type

In [146]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [147]:
total_revenue = chipo["item_price"].sum()
print("Total revenue for the period is $",total_revenue)

Total revenue for the period is $ 34500.16

### Step 15. How many orders were made in the period?

In [148]:
unique_orders = chipo["order_id"].nunique()
print(unique_orders,"orders were made in the period.",)

1834 orders were made in the period.

### Step 16. What is the average revenue amount per order?

In [149]:
# Solution 1
average_revenue_per_order_1 = total_revenue / unique_orders
print("Average revenue amount per order is ${:.2f}".format(average_revenue_per_order_1))

Average revenue amount per order is $18.81

In [150]:
# Solution 2
order_revenue = chipo.groupby("order_id")["item_price"].sum()
average_revenue_per_order_2 = order_revenue.mean()
print("Average revenue amount per order is ${:.2f}".format(average_revenue_per_order_2))

Average revenue amount per order is $18.81

### Step 17. How many different items are sold?

In [151]:
unique_items_sold = chipo["item_name"].nunique()
print(unique_items_sold,"different items are sold.")

# The list of items sold can be referred in step 9.

50 different items are sold.